@{
    ViewBag.Title = "Course Details";
}
<h2>Course Details</h2>
<p>Title: @ViewBag.Title</p>
<p>Description: @ViewBag.Description</p>
<ul>
    <!-- List lessons -->
    <li>Lesson 1</li>
    <li>Lesson 2</li>
</ul>
